{% extends "layout.html" %}
{% block title %}
Books List
{% endblock title %}
{% block body %}
<form action="" method=""get">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" value="backtosearch" formaction="{{ url_for('booksearch') }}">New Search</button>
    </div>
    <input type="hidden" name="next" value="{{ request.path}}">
</form>
<h2>Books List</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>{{book.isbn}}</td>
                <td><a href="{{url_for('book',isbn=book.isbn)}}">{{book.title}}</a></td>
                <td>{{book.author}}</td>
                <td>{{book.year}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}