{% extends "layout.html" %}
{% block title %}
Book Reviews
{% endblock title %}
{% block body %}
<button class="btn btn-primary" onclick="window.history.back()">Back</button>
<h2>Book Reviews</h2>
<div class="container">
{% for book in book %}
    <p class="book-title">{{book.title}}</p>
    <p class="book-author">by {{book.author}}</p>
    <p class="ratings">{{'{:,.0f}'.format(reviews_count)}} Ratings {{average_rating}} Average Rating</p>
{% endfor %}
<form action="" method="post">
    <div class="form-group">
        <button class="btn btn-primary">Submit Review</button>
        <label for="rating-system">Rating:</label>
        <input id="rating-system" type="number" class="rating" min="1" max="5" step="1">
        <label for="textreview">Review:</label>
        <textarea name="textreview" id="textreview" cols="50" rows="6"></textarea>
    </div>
</form>
<input id="rating-system" type="number" class="rating" min="1" max="5" step="1">
<h2>Reviews</h2>
</div>
{% endblock body %}