<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
    <script src="main.js"></script>
    <style>
    .main-div {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 2px;
        margin: 10px auto 30px;
        max-width: 38%;
        padding: 50px 70px 70px 71px;
    }
    input, label {
    display:block;
    }
    </style>
{% with logged=session['logged_in'] %}
    {% if logged %}
        <div align=right><a href="/logout">Logout</a></div>
    {% endif %}
{% endwith %}
</head>
<body>
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
</body>
</html>