<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
    <link href="{{url_for('static',filename='css/styles.css')}}" media="all" rel="stylesheet" type="text/css" />
{% if 'username' in session %}
    <div align=right>{{session.username}} <a href="/logout">Logout</a></div>
{% endif %}
</head>
<body>
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
</body>
</html>